@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


nav{
  font-family: 'VT323', monospace;
}
.img-logo{
  width: 100px;
  height: 100px;
}
*{
  color: rgb(60, 237, 60);
  font-family: 'VT323', monospace;
}
  body{
    background-image: url('backround\ terminal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
@media only screen and (max-width: 100px) {
  body {
    background-size: contain;
  }
}

.nav-link {
  position: relative;
  color: white;
  text-shadow: 1px 1px #000;
}


.nav-link:hover::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -2px;

}

.nav-link.active::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -2px;
  background-color: yellow;
}
.nav-NavLink {
  text-decoration: none;
}
.image-about{
  height: 500px;
  width: 800px;
  margin-top: 100px;
  margin-right: 10px;
}
.btn{
  background-color: #64FFDA;
}
.text-proj{
  color: red ;
} 

