@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

nav{
  font-family: 'Anton', sans-serif;
}
.img-logo{
  width: 70px;
  height: 70px;
}
*{
  color: #64FFDA;
}
body{
  background-image: url(pxfuel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 100px) {
  body {
    background-size: contain;
  }
}
.navbar{
  background-color: #272a2e;
}
.nav-link {
  position: relative;
  color: white;
}

.nav-link:hover::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -2px;
  background-color: #b3b3b3;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -2px;
  background-color: yellow;
}
.nav-NavLink {
  text-decoration: none;
}
.image-about{
  height: 400px;
  width: 400px;
  margin-top: 140px;
  margin-left: 200px;
}
.btn{
  background-color: #64FFDA;
}
.text-proj{
  color: red ;
} 
p{
  font-family: 'Dancing Script', sans-serif;
}

